<!DOCTYPE html>
<html>
<head>
    <title>Welcome to <%= appName %></title>
</head>
<body>
    <h1>Dear, <%= name %>!</h1>
    <p>Change your password with this OTP: <strong><%= otp %></strong></p>
    <p>Your OTP Will expire after : <strong><%= otp_expiry %></strong></p>
    <p>Thank you for using services from <%= appName %>.</p>
    <p>We are glad you are using our services.</p>
</body>
</html>
