<!DOCTYPE html>
<html>
<head>
    <title>Welcome to <%= appName %></title>
</head>
<body>
    <h1>Dear, <%= name %>!</h1>
    <p>here is your Registeration Details</p>
    <p>In Our Application You can login with username/email and password/mpin</p>
    <p>Your Login Credential:</p><br><br>
    <p>Username: <strong><%= username %></strong></p>
    <p>Email: <strong><%= email %></strong></p>
    <p>password: <strong><%= password %></strong></p>
    <p>MPIN: <strong><%= mpin %></strong></p><br><br>
    <p>for Password less Login here is MPIN Our System Default genrated you can reset after account Activation.</p>
    <p>Thank you for Registering in our application <%= appName %>.</p>
    <p>We are glad you are using our services.</p>
</body>
</html>
